/*aplica a about.html*/
.container-about{
    border: 1px solid $fontColor;
    padding: 20px;
    grid-area: index-about;
    display: flex;
    flex-direction: column;
    ul{
        list-style-type: none;
        padding: 0;

        @media screen and (min-width:996px){
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "image-about" "text-about";
        }
        li{
            margin: 15px;
        }
    }
}

#text-about{
    grid-template-areas: text-about;
}
#image-about{
    justify-content: center;
    grid-template-areas: image-about;
    img{
        @media screen and (min-width:1050px) {
            width:500px;
        }
    }
}

#accordionFlushExample{
    margin: 10px 50px 10px 50px;
    h2{
        margin: 0px;
    }
    button{
        background-color: $bgColor;
        border: 1px solid $fontColor;
        border-radius: 2%;
    }
    .accordion-body{
        background-color: $bgcDark;
        span{
            display: block;
        }
    }
    
}



/*Aplica a contact.html*/
.contacto-sect{
    border: 1px solid $fontColor;
    padding: 10px;
    display: flex;
    flex-direction: column;
    ul{
        list-style-type: none;
        padding: 0px;

        @media screen and (min-width:996px){
            list-style-type: none;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "mapa-contacto" "contacto-text";
        }
        li{
            margin: 0px;

            @media screen and (min-width:550px) {
                margin: 15px;
            }
        }
    }

    @media screen and (min-width:550px){
        padding: 20px;
    }

}

.mapa-contacto{
    grid-template-areas: mapa-contacto;
    iframe{
        max-width: 340px;
        
        @media screen and (min-width:550px){
            max-width: 500px;
        }
        @media screen and (min-width:1200px){
            max-width: 700px;
        }
    }
}
.contacto-text{
    grid-template-areas: contacto-text;
    span{
        display: block;
        font-size: 25px;
    }

    @media screen and (min-width:996px) {
        margin-top: 50px;
    }
}
h3{
    margin: 10px;
}
form{
    margin: 20px;
    padding: 10px;
    border: 1px solid $bgcDark;
    @media screen and (min-width:996px) {
        margin: 20px 20%;
    }
    div{
        margin-bottom: 10px;
    }
}