/*aplica a about.html*/
.container-about{
    border: 1px solid $fontColor;
    padding: 20px;
    grid-area: index-about;
    display: flex;
    flex-direction: column;
    ul{
        list-style-type: none;
        padding: 0;

        @media screen and (min-width:996px){
            list-style-type: none;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "image-about" "text-about";
        }
        li{
            margin: 15px;
        }
    }
}

#text-about{
    grid-template-areas: text-about;
}
#image-about{
    max-width: 400px;
    max-height: 400px;
    grid-template-areas: image-about;
}

h2{
    margin-bottom: 20px;
}
#accordionFlushExample{
    margin: 10px 50px 10px 50px;
    button{
        background-color: $bgColor;
        border: 1px $fontColor;
    }
    
}

/*Aplica a contact.html*/

.contacto-sect{
    border: 1px solid $fontColor;
    padding: 10px;
    display: flex;
    flex-direction: column;
    ul{
        list-style-type: none;
        padding: 0px;

        @media screen and (min-width:996px){
            list-style-type: none;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "mapa-contacto" "contacto-text";
        }
        li{
            margin: 0px;

            @media screen and (min-width:550px) {
                margin: 15px;
            }
        }
    }

    @media screen and (min-width:550px) {
        padding: 20px;
    }

}

.mapa-contacto{
    grid-template-areas: mapa-contacto;
    iframe{
        max-width: 250px;
        
        @media screen and (min-width:550px) {
            min-width: 550px;
        }
        @media screen and (min-width:996px){
            max-width: 400px;
        }
    }
}

.contacto-text{
    grid-template-areas: contacto-text;
}

