.footergral{
    grid-area: footer;
    background-color: $bgcDark;
    border-radius: 45px 45px 0 0;
    div{
        text-align: center;
        font-size: 15px;
    }
    ul{
        display: flex;
        justify-content:space-around;
        align-items: center;
        list-style-type: none;
        height: 50px;
        margin: 0;

        @media screen and (min-width:996px){
            justify-content: center;
        }
        li{
            @media screen and (min-width:996px){
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}