.footergral{
    grid-area: footer;
    background-color: $bgcDark;
    div{
        text-align: center;
    }
    ul{
        display: flex;
        justify-content:space-around;
        align-items: center;
        list-style-type: none;
        height: 50px;
        margin: 0;
        a{
            border: solid 2px;
            border-color: $bgcDark;
        }
    }
}