.imagenes-index-paisajes, .imagenes-index-fauna, .imagenes-fauna, .imagenes-paisajes{
    border: 1px solid $fontColor;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    .responsive{
        min-width: 300px ;
        height: auto;
    }
    
    @media screen and (min-width:550px){
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width:996px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width:1400px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}