@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Tajawal:wght@500&display=swap');

/*Variables*/
$fontColor: #2B2217;
$bgColor: #D2D6BA;
$bgcDark: #8a8d7abd;
$bgHover: #646658bd;
$txtShadow: rgba(255, 255, 255, 0.781);

* {
    padding: 0px;
    margin: 0;
    font-family: 'lato', sans-serif;
    color: $fontColor;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bgColor;
}
main{
    z-index: 0;
}

p, div, span{
    font-family: "tajawal", sans-serif;
    @media screen and (min-width:996px){
            font-size: 1.2vw;
        }
}

span{
    display: inline-block;
}

h2{
    margin-left: 5px;
    @media screen and (min-width: 996px) {
        margin: 15px;
        font-size: 2.3vw;
    }
    a{
        color: $fontColor;
        font-weight: bold;
        text-decoration: none;
    }
}

h3{
    margin: 10px;
}

img{
    border: 2px solid $bgcDark;
}

.responsive{
    width: 100%;
    height: auto;
}

#boton{
    background-color: $bgcDark;
    color: $fontColor !important;
}
#boton:hover{
    background-color: $bgHover;
    transition: transform .2s;
}
