@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Tajawal:wght@500&display=swap');

/*Variables*/
$fontColor: #2B2217;
$bgColor: #D2D6BA;
$bgcDark: #8a8d7abd;
$txtShadow: rgba(255, 255, 255, 0.781);

* {
    padding: 0px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: $fontColor;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bgColor;
}

img{
    border: 2px solid $bgcDark;
}

@media screen and (min-width:996px){
    h2{
        font-size: 2.5vw;
    }
    p{
        font-size: 1.5vw;
    }
}