
.index-about{
    border: 1px solid $fontColor;
    padding: 20px;
    grid-area: index-about;
    display: flex;
    flex-direction: column;
    ul{
        list-style-type: none;
        padding: 0;
        h3{
            margin: 0 0 10px 0;
        }
        #index-about-text{
            grid-template-areas: index-about-text;
        }
        #index-about-image{
            max-width: 800px;
            max-height: 600px;
            grid-template-areas: index-about-image;
        }
        
        @media screen and (min-width:996px){
            list-style-type: none;
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "index-about-image" "index-about-text";
            padding: 30px;
            h3{
                margin-left: 40px ;
            }
            #index-about-text{
                padding: 40px;
            }
        }
        li{
            margin-bottom: 20px;
            .btn{
                @media screen and (min-width:996px) {
                    margin-left: 40px;
                }
            }
        }
    }
}

.imagenes-index-paisajes{
    grid-area: img-index-paisajes;
}
.imagenes-index-fauna{
    grid-area: img-index-fauna;
}
.galeria-index{
    border: 1px solid $fontColor;
    .galeria{
        border: none;
    }
    .btn{
            margin: 0 20px 40px;
        }
    
}


/*envoltura solo del index.html*/
.envoltura-ind{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "navbar" 
    "index-about" 
    "img-index-paisajes" 
    "img-index-fauna" 
    "footer";
}