@import "general";
@import "header";
@import "footer";
@import "index";
@import "about-contacto";


.imagenes-index-paisajes, .imagenes-index-fauna, .imagenes-fauna, .imagenes-paisajes{
    border: 1px solid $fontColor;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    
}

/*Media actualmente está aplicado sólo a index.html, galeria-fauna.html y ciertos contenidos específicos del resto de páginas*/
@media screen and (min-width:550px) {
    .imagenes-fauna, .imagenes-index-fauna, .imagenes-index-paisajes, .imagenes-paisajes{
        grid-template-columns: 1fr 1fr;
    }
    .contacto-sect{
        padding: 20px;
    }
    .contacto-sect li{
        margin: 15px;
    }
    .mapa-contacto iframe{
        min-width: 550px;
    }
}

@media screen and (min-width:996px){
    nav ul{
        font-size: 1.7vw;
        height: 20px;
            display: flex;
            flex-direction: row;
            justify-content:end;
    }
    nav li{
        margin: 25px 10px 25px 10px;
    }
    .index-about ul{
        list-style-type: none;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "index-about-image" "index-about-text";
    }
    .container-about ul{
        list-style-type: none;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "image-about" "text-about";
    }
    .contacto-sect ul{
        list-style-type: none;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "mapa-contacto" "contacto-text";
    }
    .mapa-contacto iframe{
        max-width: 400px;
    }
        .imagenes-fauna, .imagenes-index-fauna, .imagenes-index-paisajes, .imagenes-paisajes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2{
        font-size: 2.5vw;
    }
    p{
        font-size: 1.5vw;
    }
    .footergral ul{
        justify-content: center;
    }
    .footergral li{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (min-width:1400px){
    .imagenes-fauna, .imagenes-index-fauna, .imagenes-index-paisajes, .imagenes-paisajes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}