@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Tajawal:wght@500&display=swap");
/*Variables*/
* {
  padding: 0px;
  margin: 0;
  font-family: "lato", sans-serif;
  color: #2B2217;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #D2D6BA;
}

main {
  z-index: 0;
}

p, div, span {
  font-family: "tajawal", sans-serif;
}
@media screen and (min-width: 996px) {
  p, div, span {
    font-size: 1.2vw;
  }
}

span {
  display: inline-block;
}

h2 {
  margin-left: 5px;
}
@media screen and (min-width: 996px) {
  h2 {
    margin: 15px;
    font-size: 2.3vw;
  }
}
h2 a {
  color: #2B2217;
  font-weight: bold;
  text-decoration: none;
}

h3 {
  margin: 10px;
}

img {
  border: 2px solid rgba(138, 141, 122, 0.7411764706);
}

.responsive {
  width: 100%;
  height: auto;
}

#boton {
  background-color: rgba(138, 141, 122, 0.7411764706);
  color: #2B2217 !important;
}

#boton:hover {
  background-color: rgba(100, 102, 88, 0.7411764706);
  transition: transform 0.2s;
}

nav {
  grid-area: navbar;
  background-color: rgba(138, 141, 122, 0.7411764706);
  border-radius: 0 0 25px 25px;
  margin-bottom: 10px;
}
nav .navbar-brand {
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
nav .navbar-toggler {
  margin-right: 10px;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 996px) {
  nav ul {
    font-size: 1.7vw;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
nav ul li {
  width: 100%;
  margin: 10px;
  padding: 0;
  border-radius: 20px;
}
@media screen and (min-width: 996px) {
  nav ul li {
    margin: 25px 10px 25px 10px;
    padding: 0;
  }
}
nav ul li a {
  white-space: nowrap;
  text-align: center;
}
nav ul li:hover {
  transform: translateY(5%);
  background-color: rgba(100, 102, 88, 0.7411764706);
  transition: transform 0.2s;
}

.portada {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.portada .p1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.781);
  font-size: 4vw;
  font-weight: bold;
}
.portada .p2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.781);
  font-size: 2vw;
  font-weight: bold;
}

.portada .p1:hover {
  -webkit-animation-name: text-color-animation;
          animation-name: text-color-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.navbar-brand:hover {
  -webkit-animation-name: text-color-animation;
          animation-name: text-color-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes text-color-animation {
  20% {
    color: rgba(138, 141, 122, 0.7411764706);
    scale: 1.02;
  }
  40% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.781);
  }
}

@keyframes text-color-animation {
  20% {
    color: rgba(138, 141, 122, 0.7411764706);
    scale: 1.02;
  }
  40% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.781);
  }
}
.footergral {
  grid-area: footer;
  background-color: rgba(138, 141, 122, 0.7411764706);
  border-radius: 45px 45px 0 0;
}
.footergral div {
  text-align: center;
  font-size: 15px;
}
.footergral ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 50px;
  margin: 0;
}
@media screen and (min-width: 996px) {
  .footergral ul {
    justify-content: center;
  }
}
@media screen and (min-width: 996px) {
  .footergral ul li {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.index-about {
  border: 1px solid #2B2217;
  padding: 20px;
  grid-area: index-about;
  display: flex;
  flex-direction: column;
}
.index-about ul {
  list-style-type: none;
  padding: 0;
}
.index-about ul h3 {
  margin: 0 0 10px 0;
}
.index-about ul #index-about-text {
  grid-template-areas: index-about-text;
}
.index-about ul #index-about-image {
  max-width: 800px;
  max-height: 600px;
  grid-template-areas: index-about-image;
}
@media screen and (min-width: 996px) {
  .index-about ul {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "index-about-image" "index-about-text";
    padding: 30px;
  }
  .index-about ul h3 {
    margin-left: 40px;
  }
  .index-about ul #index-about-text {
    padding: 40px;
  }
}
.index-about ul li {
  margin-bottom: 20px;
}
@media screen and (min-width: 996px) {
  .index-about ul li .btn {
    margin-left: 40px;
  }
}

.imagenes-index-paisajes {
  grid-area: img-index-paisajes;
}

.imagenes-index-fauna {
  grid-area: img-index-fauna;
}

.galeria-index {
  border: 1px solid #2B2217;
}
.galeria-index .galeria {
  border: none;
}
@media screen and (min-width: 996px) {
  .galeria-index .btn {
    margin: 0 40px 40px;
  }
}

.btn {
  background-color: rgba(138, 141, 122, 0.7411764706);
  color: #2B2217;
}

.btn:hover {
  transform: color rgba(138, 141, 122, 0.7411764706);
  transition: transform 0.2s;
}

/*envoltura solo del index.html*/
.envoltura-ind {
  display: grid;
  gap: 20px;
  grid-template-areas: "navbar" "index-about" "img-index-paisajes" "img-index-fauna" "footer";
}

/*aplica a about.html*/
.container-about {
  border: 1px solid #2B2217;
  padding: 20px;
  grid-area: index-about;
  display: flex;
  flex-direction: column;
}
.container-about ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 996px) {
  .container-about ul {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image-about" "text-about";
  }
}
.container-about ul li {
  margin: 15px;
}

#text-about {
  grid-template-areas: text-about;
}

#image-about {
  justify-content: center;
  grid-template-areas: image-about;
}

#accordionFlushExample {
  margin: 40px 50px 40px 50px;
}
#accordionFlushExample .accordion-item h2 {
  margin: 0px;
}
#accordionFlushExample .accordion-item button {
  background-color: #D2D6BA;
  border: 1px solid #2B2217;
  -webkit-text-decoration: rgba(138, 141, 122, 0.7411764706);
          text-decoration: rgba(138, 141, 122, 0.7411764706);
}
#accordionFlushExample .accordion-item .accordion-body {
  background-color: rgba(138, 141, 122, 0.7411764706);
  border: 1px solid #2B2217;
}
#accordionFlushExample .accordion-item .accordion-body ul {
  list-style-type: circle;
}

/*Aplica a contact.html*/
.contacto-sect {
  border: 1px solid #2B2217;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.contacto-sect ul {
  list-style-type: none;
  padding: 0px;
}
@media screen and (min-width: 996px) {
  .contacto-sect ul {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mapa-contacto" "contacto-text";
  }
}
.contacto-sect ul li {
  margin: 0px;
}
@media screen and (min-width: 550px) {
  .contacto-sect ul li {
    margin: 15px;
  }
}
@media screen and (min-width: 550px) {
  .contacto-sect {
    padding: 20px;
  }
}

.mapa-contacto {
  grid-template-areas: mapa-contacto;
}
.mapa-contacto iframe {
  max-width: 340px;
}
@media screen and (min-width: 550px) {
  .mapa-contacto iframe {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .mapa-contacto iframe {
    max-width: 700px;
  }
}

.contacto-text {
  grid-template-areas: contacto-text;
}
.contacto-text span {
  display: block;
  font-size: 25px;
}
@media screen and (min-width: 996px) {
  .contacto-text {
    margin-top: 50px;
  }
}

.formulario {
  padding: 10px;
}
@media screen and (min-width: 996px) {
  .formulario {
    padding: 5px 20px 40px 20px;
  }
}
.formulario form {
  margin: 20px;
  padding: 10px;
  border: 1px solid rgba(138, 141, 122, 0.7411764706);
}
@media screen and (min-width: 996px) {
  .formulario form {
    margin: 20px 20%;
  }
}
.formulario form div {
  margin-bottom: 10px;
}
.formulario form .form-control {
  background-color: rgba(255, 255, 255, 0.781);
}

.galeria {
  border: 1px solid #2B2217;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  list-style-type: none;
}
.galeria .responsive {
  min-width: 300px;
  height: 90%;
}
.galeria p {
  background-color: rgba(138, 141, 122, 0.7411764706);
  text-align: center;
  font-size: 15px;
}
@media screen and (min-width: 550px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 996px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1400px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.galeria-fauna h1, .galeria-paisajes h1 {
  margin-top: 30px;
}/*# sourceMappingURL=estilos.css.map */